In [1]:
import os
import requests
import sys
import urllib.request

In [2]:
def location_geo(name, addr, df):
    encText = urllib.parse.quote(addr)
    url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + encText \
    + "&key=AIzaSyD7jDQUoMG1bS8SvukFrySE7aKhzSxSDts"
    response = requests.get(url)
    geo_info = response.json()
    try:
        lat = geo_info["results"][0]["geometry"]["location"]["lat"]
        lng = geo_info["results"][0]["geometry"]["location"]["lng"]
        df.loc[len(df)] = {"name": name, "lat": lat, "lng": lng}
    except:
        df.loc[len(df)] = {"name": name, "lat": None, "lng": None}

## 몰

In [ ]:
mall_df = pd.read_csv("mall_list.csv")
mall_df.head()

In [ ]:
mall_geo_df = pd.DataFrame(columns=["name", "lat", "lng"])

In [ ]:
for name, addr in zip(mall_df["이름"], mall_df["주소"]):
    location_geo(name, addr, mall_geo_df)

In [ ]:
mall_geo_df.tail()

In [ ]:
mall_geo_df.to_csv("geo_mall.csv",index=False)

## 고등학교

In [ ]:
high_df = pd.read_csv("서울시 고등학교 현황.csv")

In [ ]:
# 특성화고(직업) 삭제
high_df = high_df[high_df["고등학교 유형"] != "특성화고(직업)"].reset_index(drop=True)

In [ ]:
high_df["주소"] = high_df["주소"].apply(lambda x: x.split("(")[0])

In [ ]:
high_df["주소"] = high_df["주소"].replace("   ", " ")

In [ ]:
high_df["주소"] = high_df["주소"].replace(" ", " ")

In [ ]:
high_df = high_df.drop_duplicates(["주소"])

In [ ]:
len(high_df)

In [ ]:
high_geo_df = pd.DataFrame(columns=["name", "lat", "lng"])

In [ ]:
for name, addr in zip(high_df["학교명"], high_df["주소"]):
    location_geo(name, addr, high_geo_df)

In [ ]:
_ = high_geo_df[high_geo_df.duplicated(["name"],False)]

#### nan값 당곡중학교 채워주기

## 중학교

In [ ]:
mid_df = pd.read_csv("서울시 중학교 현황.csv")

In [ ]:
mid_df["주소"] = mid_df["주소"].apply(lambda x: x.split("(")[0])

In [ ]:
mid_df["주소"] = mid_df["주소"].replace("   ", " ")

In [ ]:
mid_df["주소"] = mid_df["주소"].replace("  ", " ")

In [ ]:
mid_df = mid_df.drop_duplicates(["주소"])

In [ ]:
len(mid_df)

In [ ]:
mid_geo_df = pd.DataFrame(columns=["name", "lat", "lng"])

In [ ]:
for name, addr in zip(mid_df["학교명"], mid_df["주소"]):
    location_geo(name, addr, mid_geo_df)

In [ ]:
mid_geo_df[mid_geo_df.duplicated(["name"],False)]

In [ ]:
mid_geo_df[mid_geo_df["lat"].isna()]

구산 37.611270, 126.909054  
당곡 37.492097, 126.933160

In [ ]:
mid_geo_df.loc[61] = ["구산중학교", 37.611270, 126.909054]
mid_geo_df.loc[279] = ["당곡중학교", 37.492097, 126.933160]

In [ ]:
mid_geo_df[mid_geo_df["lat"].isna()]

In [ ]:
mid_geo_df.to_csv("mid_geo.csv", index=False)

## 초등학교

In [ ]:
ele_df = pd.read_csv("서울시 초등학교 현황.csv")

In [ ]:
ele_df["주소"] = ele_df["주소"].apply(lambda x: x.split("(")[0])

In [ ]:
ele_df["주소"] = ele_df["주소"].replace("   ", " ")

In [ ]:
ele_df["주소"] = ele_df["주소"].replace("  ", " ")

In [ ]:
ele_df = ele_df.drop_duplicates(["주소"])

In [ ]:
len(ele_df)

In [ ]:
ele_geo_df = pd.DataFrame(columns=["name", "lat", "lng"])

In [ ]:
for name, addr in zip(ele_df["학교명"], ele_df["주소"]):
    location_geo(name, addr, ele_geo_df)

In [ ]:
ele_geo_df[ele_geo_df.duplicated(["name"],False)]

In [ ]:
ele_geo_df[ele_geo_df["lat"].isna()]

In [ ]:
ele_geo_df.to_csv("ele_geo.csv", index=False)

## 대학교

In [ ]:
uni_df = pd.read_csv("서울시 대학.csv")

In [ ]:
uni_df.tail()

In [ ]:
uni_df = uni_df[uni_df["학교종류"] == "일반대학"].reset_index(drop=True)

In [ ]:
uni_geo_df = pd.DataFrame(columns=["name", "lat", "lng"])

In [ ]:
for name, addr in zip(uni_df["학교명"], uni_df["주소"]):
    location_geo(name, addr, uni_geo_df)

In [ ]:
uni_geo_df[uni_geo_df.duplicated(["name"],False)]

In [ ]:
len(uni_geo_df)

In [ ]:
len(uni_geo_df.drop_duplicates(["name"]))

In [ ]:
uni_geo_df = uni_geo_df.drop_duplicates(["name"])

In [ ]:
uni_geo_df[uni_geo_df["lat"].isna()]

In [ ]:
uni_geo_df.loc[35] = ["삼육대학교", 37.643011, 127.105486]

In [ ]:
uni_geo_df

In [ ]:
uni_geo_df[uni_geo_df["lat"].isna()]

In [ ]:
uni_geo_df.to_csv("uni_geo.csv", index=False)

## 역

In [119]:
station_df = pd.read_csv("서울시 역.csv")

In [120]:
station_df = station_df.drop_duplicates(["전철역명"]).reset_index(drop=True)

In [121]:
station_df.columns

Index(['전철역코드', '전철역명', '전철역명_영문', '호선', '외부코드', '사이버스테이션', '관리소코드', '관리소명',
       '개통일', '전화번호', 'FAX번호', '우편번호', '주소', '현장민원소', '관광안내소', '문화공간', '항공권판매',
       '장애인시설', '만남의장소', '주차장', '자전거보관소', '무인민원발급기', '역무실', '수유방', '엘레베이터',
       '에스컬레이터', '휠체어리프트시설', '스피드게이트', '화장실', '역명한자', '유래', 'X좌표', 'Y좌표',
       'X좌표(WGS)', 'Y좌표(WGS)'],
      dtype='object')

In [122]:
station_df["주소"][station_df["주소"].isna()] = "없음"

In [123]:
station_df = station_df[station_df["주소"].\
                        apply(lambda x: x.split(" ")[0] == "서울특별시" or x.split(" ")[0] == "없음")]

In [126]:
station_df.reset_index(drop=True, inplace=True)

In [128]:
station_df = station_df[["전철역명", "X좌표(WGS)", "Y좌표(WGS)"]]

In [129]:
station_df.columns = ["name", "lat", "lng"]

In [130]:
station_df[station_df["lat"].isna()]

        name  lat  lng
0    419민주묘지  NaN  NaN
4        가오리  NaN  NaN
128   북한산보국문  NaN  NaN
129    북한산우이  NaN  NaN
138       삼양  NaN  NaN
139    삼양사거리  NaN  NaN
167     솔밭공원  NaN  NaN
168       솔샘  NaN  NaN
225       여주  NaN  NaN
268       정릉  NaN  NaN
292       탕정  NaN  NaN
295       풍기  NaN  NaN
309       화계  NaN  NaN

In [131]:
station_df.loc[0] = ["419민주묘지", 37.650306, 127.013289]

In [132]:
station_df.loc[4] = ["가오리", 37.641422, 127.016766]

In [133]:
station_df.loc[128] = ["북한산보국문", 37.611755, 127.008436]

In [134]:
station_df.loc[129] = ["북한산우이", 37.662806, 127.012718]

In [135]:
station_df.loc[138] = ["삼양", 37.627218, 127.018135]

In [136]:
station_df.loc[139] = ["삼양사거리", 37.621374, 127.020456]

In [137]:
station_df.loc[167] = ["솔밭공원", 37.656039, 127.013248]

In [138]:
station_df.loc[168] = ["솔샘", 37.620297, 127.013568]

In [139]:
station_df.drop(index=225, inplace=True)

In [141]:
station_df.loc[268] = ["정릉", 37.602802, 127.013465]

In [142]:
station_df.drop(index=292, inplace=True)

In [144]:
station_df.drop(index=295, inplace=True)

In [145]:
station_df.loc[309] = ["화계", 37.634185, 127.017482]

In [146]:
station_df

          name        lat         lng
0      419민주묘지  37.650306  127.013289
1         가락시장  37.492522  127.118234
2      가산디지털단지  37.481072  126.882343
3           가양  37.561391  126.854456
4          가오리  37.641422  127.016766
5           가좌  37.568491  126.915487
6           강남  37.497175  127.027926
7         강남구청  37.517186  127.041280
8           강동  37.535804  127.132481
9         강동구청  37.530341  127.120508
10          강변  37.535095  127.094681
11          개롱  37.498079  127.134820
12          개봉  37.494594  126.858680
13         개포동  37.489116  127.066140
14          개화  37.578608  126.798153
15         개화산  37.572399  126.806171
16          거여  37.493105  127.144150
17        건대입구  37.540693  127.070230
18        경기광주  37.399907  127.252630
19         경복궁  37.575762  126.973530
20        경찰병원  37.495918  127.124540
21          고덕  37.555004  127.154151
22         고려대  37.590508  127.036296
23       고속터미널  37.504810  127.004943
24         곤지암  37.351315  127.346740
25          공덕  37.544018  126.951592
26          공릉  37.625742  127.072896
27        공항시장  37.563726  126.810678
28        광교중앙  37.288617  127.051478
29         광나루  37.545303  127.103570
..         ...        ...         ...
284      청계산입구  37.447211  127.055664
285         청구  37.560245  127.013828
286         청담  37.519365  127.053350
287        청량리  37.580178  127.046835
288         초월  37.374419  127.299000
289  총신대입구(이수)  37.486263  126.981989
290        충무로  37.561243  126.994280
291        충정로  37.559973  126.963672
293       태릉입구  37.617983  127.075120
294         판교  37.394761  127.111217
296         하계  37.636352  127.067990
297         학동  37.514229  127.031656
298        학여울  37.496663  127.070594
299        한강진  37.539631  127.001725
300         한남  37.529430  127.009169
301      한성대입구  37.588458  127.006221
302        한양대  37.555273  127.043655
303         한티  37.496237  127.052873
304         합정  37.549463  126.913739
305         행당  37.557322  127.029476
306         혜화  37.582336  127.001844
307       홍대입구  37.557192  126.925381
308         홍제  37.589066  126.943736
309         화계  37.634185  127.017482
310         화곡  37.541513  126.840461
311        화랑대  37.620064  127.084689
312         회기  37.589460  127.057583
313         회현  37.558514  126.978246
314      효창공원앞  37.539261  126.961351
315         흑석  37.508770  126.963708

[313 rows x 3 columns]

In [147]:
station_df.to_csv("station_geo.csv", index=False)

## 맥도날드

In [149]:
mc_df = pd.read_csv("mcdonald_data.csv")

In [150]:
mc_df.tail()

         name                                  address
92       한양대점             서울특별시 성동구 서울특별시 성동구 행당동 31-7
93        한티점           서울특별시 강남구 서울특별시 강남구 대치동 938-22
94  합정 메세나폴리스  서울특별시 마포구 서울특별시 마포구 서교동 490 메세나폴리스 몰동2층
95       홍익대점         서울특별시 마포구 서울특별시 마포구 동교동 162-4 2층
96       홍제역점         서울특별시 서대문구 서울특별시 서대문구 홍제동 253-11

In [151]:
mc_geo_df = pd.DataFrame(columns=["name", "lat", "lng"])

In [152]:
for name, addr in zip(mc_df["name"], mc_df["address"]):
    location_geo(name, addr, mc_geo_df)

In [153]:
mc_geo_df[mc_geo_df["lat"].isna()]

Empty DataFrame
Columns: [name, lat, lng]
Index: []

In [155]:
mc_geo_df.to_csv("mc_geo.csv", index=False)