# 스타벅스 위치 크롤링

In [1]:
from selenium import webdriver

In [2]:
url = "https://www.istarbucks.co.kr/store/store_map.do"
driver = webdriver.Chrome()
driver.get(url)

In [3]:
# 데이터 가져오기
driver.find_element_by_css_selector(".loca_search").click()

In [4]:
driver.find_element_by_css_selector("#container > div > form > fieldset > div > section > article.find_store_cont > article > article:nth-child(4) > div.loca_step1 > div.loca_step1_cont > ul > li:nth-child(1) > a").click()

In [5]:
driver.find_element_by_css_selector("#mCSB_2_container > ul > li:nth-child(1) > a").click()

In [20]:
results = driver.find_elements_by_css_selector("#mCSB_3_container > ul > li")

In [22]:
len(results)

483

In [67]:
starbucks_data = pd.DataFrame(columns=["name", "lat", "long"])

Empty DataFrame
Columns: [name, lat, long]
Index: []

In [69]:
for result in results:
    name = result.get_attribute("data-name")
    lat = result.get_attribute("data-lat")
    long = result.get_attribute("data-long")
    starbucks_data.loc[len(starbucks_data)] = [name, lat, long]

In [71]:
starbucks_data.head()

       name         lat        long
0    논현역사거리   37.510178  127.022223
1  삼성역섬유센터R   37.507750  127.060651
2      압구정R  37.5273669  127.033061
3      수서역R   37.488008  127.102650
4   양재강남빌딩R   37.485192  127.036685

In [73]:
starbucks_data.tail()

      name          lat                long
478    중랑역   37.5930326  127.07473579999998
479   중랑구청  37.60538908         127.0957558
480   사가정역    37.579594          127.087966
481    상봉역     37.59689           127.08647
482  묵동이마트    37.613433          127.077484

In [124]:
starbucks_data.to_csv("starbucks_data.csv", index=False)

In [ ]:
driver.close()

In [87]:
driver.quit()

# 맥도날드 위치 크롤링

In [88]:
url = "http://m.mcdonalds.co.kr/me/kor/findus/district.do"
driver = webdriver.Chrome()
driver.get(url)

In [89]:
driver.find_element_by_css_selector("#skeyword").send_keys("서울특별시")

In [90]:
driver.find_element_by_css_selector("#shForm > div > div > input").click()

In [91]:
while True:
    try:
        driver.find_element_by_css_selector("#addPage").click()
    except:
        break

In [103]:
results = driver.find_elements_by_css_selector("#listAjax > li")

In [105]:
len(results)

137

In [117]:
mcdonald_data = pd.DataFrame(columns=["name", "address"])

In [118]:
for result in results:
    name = result.text.split("\n")[0]
    address = result.text.split("\n")[1]
    mcdonald_data.loc[len(mcdonald_data)] = [name, address]

In [119]:
len(mcdonald_data)

137

In [120]:
mcdonald_data.drop_duplicates(inplace=True)

In [121]:
len(mcdonald_data)

97

In [123]:
mcdonald_data.to_csv("mcdonald_data.csv", index=False)

In [ ]:
driver.quit()