In [5]:
from scipy.spatial import distance

In [88]:
geo_df = pd.read_csv("geo_df.csv")

In [162]:
zigbang_df = pd.read_csv("zigbang_crawling.csv")

In [90]:
location_name = ["초등학교", "중학교", "고등학교", "대학교", "스타벅스", "맥도날드", "역", "몰"]

In [91]:
def shortest_place(df, lat, lng):
    df_a = df
    df_a["distance"] = ((df_a.lat - lat) ** 2 + (df_a.lng - lng) ** 2) ** (1/2) * 10000
    name = df_a.sort_values("distance").iloc[0]["name"]
    distance = df_a.sort_values("distance").iloc[0]["distance"]
    return name, distance

In [92]:
df = geo_df[geo_df["label"] == location_name[0]]

In [93]:
name, distance = shortest_place(df, zigbang_df["lat"].iloc[0], zigbang_df["lng"].iloc[0])

In [94]:
name, distance

('서울서교초등학교', 32.65175150462473)

In [105]:
ls = []
for i, geo in enumerate(zip(zigbang_df["lat"], zigbang_df["lng"])):
    for loc_name in location_name:
        df = geo_df[geo_df["label"] == loc_name]
        name, distance = shortest_place(df, geo[0], geo[1])
        ls.append(name)
        ls.append(distance)

In [90]:
location_name = ["초등학교", "중학교", "고등학교", "대학교", "스타벅스", "맥도날드", "역", "몰"]

In [124]:
ls_total = np.array(ls).reshape(30, 16)

In [125]:
columns = ["초등학교","초등학교거리", "중학교", "중학교거리",\
           "고등학교", "고등학교거리", "대학교", "대학교거리",\
           "스타벅스", "스타벅스거리", "맥도날드", "맥도날드거리",\
           "역", "역거리", "몰", "몰거리"]

In [129]:
segun_df = pd.DataFrame(data = ls_total, columns = columns)

In [132]:
total_df = pd.concat([zigbang_df, segun_df], axis=1)

In [133]:
total_df.columns

Index(['rent', 'deposit', 'floor', 'size', 'address1', 'address2', 'lat',
       'lng', 'options', 'manage_cost', 'parking', 'elevator', 'movein_date',
       'agent_name', 'agent_phone', 'agent_email', 'distance', '초등학교',
       '초등학교거리', '중학교', '중학교거리', '고등학교', '고등학교거리', '대학교', '대학교거리', '스타벅스',
       '스타벅스거리', '맥도날드', '맥도날드거리', '역', '역거리', '몰', '몰거리'],
      dtype='object')

In [157]:
total_df[["초등학교거리", "중학교거리", "고등학교거리", "대학교거리", "스타벅스거리", "맥도날드거리", "역거리", "몰거리"]].astype('float').sum(axis=1).sort_values()

22    473.478560
27    478.145690
15    478.392638
12    481.807323
7     482.751320
13    482.813800
28    483.712919
26    484.425048
10    484.482840
23    484.520255
9     484.565359
8     485.371160
20    486.941484
14    487.131167
3     487.550942
2     488.066686
21    488.189609
1     488.938622
16    489.116492
29    489.720619
4     491.130191
6     491.404786
5     491.642895
24    492.552845
25    492.938174
19    494.196066
17    494.256244
11    494.463580
18    494.920026
0     496.162944
dtype: float64

In [169]:
total_df.iloc[22]

rent                                  50
deposit                             3000
floor                                 1층
size                                   8
address1                     서울시 마포구 창전동
address2                          436-27
lat                              37.5532
lng                              126.925
options        에어컨,냉장고,세탁기,가스레인지,신발장,싱크대
manage_cost                          5만원
parking                              불가능
elevator                              없음
movein_date                      즉시입주 가능
agent_name                  천하공인중개사(정용우)
agent_phone                  02-336-2227
agent_email            jyw1003@naver.com
distance                         17.3725
초등학교                            서울서교초등학교
초등학교거리                  14.7662070499573
중학교                                성산중학교
중학교거리                 107.42688725964723
고등학교                              경성고등학교
고등학교거리                114.59826716644386
대학교                                홍익대학교
대학교거리                   47.7385654212632
스타벅스                               홍대갤러리
스타벅스거리                3.2441933707597346
맥도날드                                홍익대점
맥도날드거리                  35.2947052174205
역                                   홍대입구
역거리                    40.02650580895476
몰                              현대백화점 신촌점
몰거리                   110.38322912341671
Name: 22, dtype: object

In [167]:
total_df['lat'][22], total_df['lng'][22]

(37.553196556596, 126.92514090902107)

In [168]:
zigbang_df.iloc[22]

rent                                  50
deposit                             3000
floor                                 1층
size                                   8
address1                     서울시 마포구 창전동
address2                          436-27
lat                              37.5532
lng                              126.925
options        에어컨,냉장고,세탁기,가스레인지,신발장,싱크대
manage_cost                          5만원
parking                              불가능
elevator                              없음
movein_date                      즉시입주 가능
agent_name                  천하공인중개사(정용우)
agent_phone                  02-336-2227
agent_email            jyw1003@naver.com
distance                         17.3725
Name: 22, dtype: object